# dependencies
/node_modules
/.pnp
.pnp.js

# build output
/dist
/build
/out
/coverage

# env files
.env
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS
.DS_Store
Thumbs.db

# editor settings
.vscode/
.idea/

# typescript
*.tsbuildinfo

# misc
*.pem
